body{
    background-color: rgb(169, 169, 169);
    margin: 0;
    padding: 0;   
}

@font-face {
    font-family: itsMypal;
    src: url(./fontes/ItsMyPal-Regular.ttf);
}

button{
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 4px 8px 10px black;
}

a, a:visited{
    text-decoration: none;
    color: black;
    font-family: itsMypal;
    font-size: 1.8rem;
}

.container{
    background-color: gray;
    color: white;
    display: grid;
    gap: 10px;
    padding: 20px;
    grid-template: 100px 100px 100px/ auto auto auto auto;
    justify-items: center;
    align-items: center;
    grid-template: auto auto auto / auto auto auto auto ;
}

img{
    width: 170px;
}

figcaption{
    text-align: center;
}

.rect{
    padding: 10px;
    background-color: white;
    box-shadow: 5px 20px 30px 5px black;
    border-radius: 3px;
}

.container-box{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

.box{
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 7s;
    animation-delay: 2s;

}
@keyframes changeColor {
    0%{background-color: red; width: 200px;}
    12.5%{background-color: #ffa500;}
    25%{background-color: aliceblue;}
    37.5%{background-color: #00ffff;}
    50%{background-color: yellow; width: 400px;}
    62.5%{background-color: #dc143c;}
    75%{background-color: green;}
    87.5%{background-color: #ff1493;}
    100%{background-color: blue; width: 200px;}   
    
    /* from{ width: 200px;}
    to{ width: 500px;} */
    
    /* 0%{width: 200px;}
    25%{width: 300px;}
    50%{width: 400px;}
    75%{width: 500px;}
    100%{width: 600px;} */
 
}

